[submodule "spacemacs/spacemacs-table-manipulation-layer"]
	path = spacemacs/.emacs.d/private/spacemacs-table-manipulation-layer
	url = https://github.com/mickaushy/spacemacs-table-manipulation-layer.git
